/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

/* core css */
body::-webkit-scrollbar{
    width: 8px;
}
body::-webkit-scrollbar-thumb{
    background-color: grey;
    border-radius: 50px;
}


body{
    font-family: 'Quicksand', sans-serif;
}
#xx{
   background-image: linear-gradient(to right, #9c45ee 0%, #c094de 100%);
  color: white;
}
#button{
  background-image: linear-gradient(to right, #f08fec 0%, #d2aeea 100%);
}

.border-1-custom{
    border: 1px solid #c2c2c2;
}

.bg-gradient{
    background-image: linear-gradient(to right, #f08fec 0%, #d2aeea 100%);
}

input[type=radio]::after {
    content: '';
    position: absolute;
    display: block;
    width: 120%;
    height: 120%;
    top: 0;
    left: 0;
    /* background: aqua; */
}